*.*

!.gitignore
!.github

!*.txt
!*.md
!*.cs
!*.mp3
!*.sln
!*.csproj
!*.unity
!*.ttf
!*.otf
!*.meta
!*.asset
!*.json
!*.prefab
!*.anim
!*.controller
!*.mat
!*.shader
!*.cginc
!*.yml

!*.png
!*.psd

Library
Temp
build
